<!-- Secondary Section -->
<div id="secondary-section">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-sm-8">

                <div class="vid-detail-container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="blog-detail-img">
                                <img class="img-responsive" src="~/Content/Images/blog-detail-img.jpg" alt="blog image">
                            </div>
                            <div class="vid-text">
                                <p><span>By</span> <a href="#">Admin</a></p>
                                <h1>Learn Guitar</h1>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="latst-vid secondary-vid">
                    <div class="vid-heading overflow-hidden">
                        <span style="visibility: visible; animation-duration: 0.8s; animation-name: fadeInUp;" class="wow fadeInUp" data-wow-duration="0.8s">A la Une</span>
                        <div style="visibility: visible; animation-duration: 0.8s; animation-name: zoomIn;" class="hding-bottm-line wow zoomIn" data-wow-duration="0.8s"></div>
                    </div>
                    <div class="row auto-clear">
                        <div class="vid-container">
                            <div class="col-md-4 col-sm-6">
                                <div class="latest-vid-img-container">
                                    <div class="vid-img">
                                        <img class="img-responsive" src="~/Content/Images/latest-vid-img-1.jpg" alt="video image">
                                        <div class="overlay-div"></div>
                                    </div>
                                    <div class="vid-text">
                                        <p><span>By</span> <a href="#">Jhon Doe</a></p>
                                        <h1><a href="#">Super Hero of Kids</a></h1>
                                        <p class="vid-info-text">
                                            <span>4 month ago</span>
                                            <span>/</span>
                                            <span>
                                                From <a href="#"><i class="fa fa-youtube-play"></i></a>
                                            </span>
                                            <span>/</span>
                                            <span>410 views</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="latest-vid-img-container">
                                    <div class="vid-img">
                                        <img class="img-responsive" src="~/Content/Images/latest-vid-img-2.jpg" alt="video image">
                                        <div class="overlay-div"></div>
                                    </div>
                                    <div class="vid-text">
                                        <p><span>By</span> <a href="#">Jhon Doe</a></p>
                                        <h1><a href="#">World Traveling Couple (2015)</a></h1>
                                        <p class="vid-info-text">
                                            <span>4 month ago</span>
                                            <span>/</span>
                                            <span>
                                                From <a href="#"><i class="fa fa-vimeo"></i></a>
                                            </span>
                                            <span>/</span>
                                            <span>410 views</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="latest-vid-img-container">
                                    <div class="vid-img">
                                        <img class="img-responsive" src="~/Content/Images/latest-vid-img-3.jpg" alt="video image">
                                        <div class="overlay-div"></div>
                                    </div>
                                    <div class="vid-text">
                                        <p><span>By</span> <a href="#">Jhon Doe</a></p>
                                        <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">Couples Love latest video</a></h1>
                                        <p class="vid-info-text">
                                            <span>4 month ago</span>
                                            <span>/</span>
                                            <span>
                                                From <a href="#"><i class="fa fa-vimeo"></i></a>
                                            </span>
                                            <span>/</span>
                                            <span>410 views</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="latest-vid-img-container">
                                    <div class="vid-img">
                                        <img class="img-responsive" src="~/Content/Images/latest-vid-img-4.jpg" alt="video image">
                                        <div class="overlay-div"></div>
                                    </div>
                                    <div class="vid-text">
                                        <p><span>By</span> <a href="#">Jhon Doe</a></p>
                                        <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">Alien Abduction Full Movie</a></h1>
                                        <p class="vid-info-text">
                                            <span>4 month ago</span>
                                            <span>/</span>
                                            <span>
                                                From <a href="#"><i class="socicon-dailymotion"></i></a>
                                            </span>
                                            <span>/</span>
                                            <span>410 views</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="latest-vid-img-container">
                                    <div class="vid-img">
                                        <img class="img-responsive" src="~/Content/Images/latest-vid-img-5.jpg" alt="video image">
                                        <div class="overlay-div"></div>
                                    </div>
                                    <div class="vid-text">
                                        <p><span>By</span> <a href="#">Jhon Doe</a></p>
                                        <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">Sunset Running - Health Corner</a></h1>
                                        <p class="vid-info-text">
                                            <span>4 month ago</span>
                                            <span>/</span>
                                            <span>
                                                From <a href="#"><i class="fa fa-youtube-play"></i></a>
                                            </span>
                                            <span>/</span>
                                            <span>410 views</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="latest-vid-img-container">
                                    <div class="vid-img">
                                        <img class="img-responsive" src="~/Content/Images/latest-vid-img-6.jpg" alt="video image">
                                        <div class="overlay-div"></div>
                                    </div>
                                    <div class="vid-text">
                                        <p><span>By</span> <a href="#">Jhon Doe</a></p>
                                        <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">Zombie Full Movie (1979)</a></h1>
                                        <p class="vid-info-text">
                                            <span>4 month ago</span>
                                            <span>/</span>
                                            <span>
                                                From <a href="#"><i class="socicon-dailymotion"></i></a>
                                            </span>
                                            <span>/</span>
                                            <span>410 views</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="latest-vid-img-container">
                                    <div class="vid-img">
                                        <img class="img-responsive" src="~/Content/Images/latest-vid-img-7.jpg" alt="video image">
                                        <div class="overlay-div"></div>
                                    </div>
                                    <div class="vid-text">
                                        <p><span>By</span> <a href="#">Jhon Doe</a></p>
                                        <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">Latest Dancing Videos</a></h1>
                                        <p class="vid-info-text">
                                            <span>4 month ago</span>
                                            <span>/</span>
                                            <span>
                                                From <a href="#"><i class="fa fa-vimeo"></i></a>
                                            </span>
                                            <span>/</span>
                                            <span>410 views</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="latest-vid-img-container">
                                    <div class="vid-img">
                                        <img class="img-responsive" src="~/Content/Images/latest-vid-img-8.jpg" alt="video image">
                                        <div class="overlay-div"></div>
                                    </div>
                                    <div class="vid-text">
                                        <p><span>By</span> <a href="#">Jhon Doe</a></p>
                                        <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">Horror Video Pack 1</a></h1>
                                        <p class="vid-info-text">
                                            <span>4 month ago</span>
                                            <span>/</span>
                                            <span>
                                                From <a href="#"><i class="socicon-dailymotion"></i></a>
                                            </span>
                                            <span>/</span>
                                            <span>410 views</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="latest-vid-img-container">
                                    <div class="vid-img">
                                        <img class="img-responsive" src="~/Content/Images/latest-vid-img-9.jpg" alt="video image">
                                        <div class="overlay-div"></div>
                                    </div>
                                    <div class="vid-text">
                                        <p><span>By</span> <a href="#">Jhon Doe</a></p>
                                        <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">Star Wars: The Force Awakens</a></h1>
                                        <p class="vid-info-text">
                                            <span>4 month ago</span>
                                            <span>/</span>
                                            <span>
                                                From <a href="#"><i class="fa fa-vimeo"></i></a>
                                            </span>
                                            <span>/</span>
                                            <span>410 views</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- bar lateral -->
            <div class="col-md-3 col-sm-4">
                <div class="sidebar">
                    <div class="sidebar-vid most-liked">
                        <h1 class="sidebar-heading">Fil Info</h1>
                        <div class="media">
                            <div class="media-left">
                                <img src="~/Content/Images/most-liked-img-s1.jpg" alt="video">
                            </div>
                            <div class="media-body">
                                <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">Journey</a></h1>
                                <p>
                                    <span><i class="fa fa-comment"></i> 10</span>
                                    <span><i class="fa fa-eye"></i> 534</span>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="~/Content/Images/most-liked-img-s2.jpg" alt="video">
                            </div>
                            <div class="media-body">
                                <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">Magic</a></h1>
                                <p>
                                    <span><i class="fa fa-comment"></i> 10</span>
                                    <span><i class="fa fa-eye"></i> 534</span>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="~/Content/Images/most-liked-img-s3.jpg" alt="video">
                            </div>
                            <div class="media-body">
                                <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">Runner</a></h1>
                                <p>
                                    <span><i class="fa fa-comment"></i> 10</span>
                                    <span><i class="fa fa-eye"></i> 534</span>
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="~/Content/Images/most-liked-img-s4.jpg" alt="video">
                            </div>
                            <div class="media-body">
                                <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">Fantasy</a></h1>
                                <p>
                                    <span><i class="fa fa-comment"></i> 10</span>
                                    <span><i class="fa fa-eye"></i> 534</span>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="sidebar-vid most-viewd">
                        <h1 class="sidebar-heading">Most Viewed</h1>
                        <div class="most-viewd-container">
                            <div class="most-viewd-img">
                                <img class="img-responsive" src="~/Content/Images/most-viewd-1.jpg" alt="video">
                            </div>
                            <div class="most-viewd-text">
                                <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">Human Rights Violation</a></h1>
                                <p>
                                    <span><i class="fa fa-comment"></i> 10</span>
                                    <span><i class="fa fa-eye"></i> 534</span>
                                </p>
                            </div>
                        </div>
                        <div class="most-viewd-container">
                            <div class="most-viewd-img">
                                <img class="img-responsive" src="~/Content/Images/most-viewd-2.jpg" alt="video">
                            </div>
                            <div class="most-viewd-text">
                                <h1><a href="http://layerstheme.com/developers/jamshaid/video/video-detail.html">War Video Compilation</a></h1>
                                <p>
                                    <span><i class="fa fa-comment"></i> 10</span>
                                    <span><i class="fa fa-eye"></i> 534</span>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="tags">
                        <h1 class="sidebar-heading">Tags</h1>
                        <ul class="list-inline list-unstyled">
                            <li><a href="#">3D</a></li>
                            <li><a href="#">Animals &amp; Birds</a></li>
                            <li><a href="#">HD</a></li>
                            <li><a href="#">Horror</a></li>
                            <li><a href="#">Art</a></li>
                            <li><a href="#">Self</a></li>
                            <li><a href="#">HD Songs</a></li>
                            <li><a href="#">Comedy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- bar lateral -->




        </div>
    </div>
</div>

<!-- Secondary Section -->